body {
	background-color: orange;
	margin:0;
	padding:0;
}
* {
	box-sizing: border-box;
}
h1 {
	text-align: center;
	color:green;
}
#liste_arret, #infoarret {
	float : left;
	width : 48%;
}

button {
	padding:15px;
	background-color: green;
	border-radius: 20%;
}